<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
<header>
  <h1>Website</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/list">Categories</a></li>
    </ul>
  </nav>
</header>
<main>
</main>
<footer>
</footer>
</body>
</html>